<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业与其他社会组织-查资质</title>
		<link rel="stylesheet" type="text/css" href="../../../../../thirdparty/jquery-easyui-1.4.5/themes/default/easyui.css"/>
		<link rel="stylesheet" href="../../../../../thirdparty/artDialog/ui-dialog.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	</head>
	<body>
		<div class="wrapper">
			<!-- 头部 -->
			<div class="nav-outer">
				<div class="nav-inner">
					<h1 class="logo"></h1>
					<span class="fi-menu"></span>
					<ul class="nav" id="nav">
						<li>
							<a href="###">
								系统首页
							</a>
						</li>
						<li>
							<a href="../../dataDirectory.html">
								数据管理系统
							</a>
						</li>
						<li class="cur">
							<a href="qyDataMining.html">
								数据挖掘系统
							</a>
						</li>
						<li>
							<a href="../zrr/zrrCredit.html">
								数据查询系统
							</a>
						</li>
						<li>
							<a href="###">
								报告管理系统
							</a>
						</li>
						<li>
							<a href="###">
								行业应用系统
							</a>
						</li>
						<li>
							<a href="../cfgs/cfgs.html">
								信用双公示
							</a>
						</li>
						<li>
							<a href="../xypj/gCreditRating.html">
								信用评价
							</a>
						</li>
					</ul>
					<div class="overflow-hidden">
						<ul class="top-info right">
							<li class="relative">
								<a href="###">您好，李玉东（cxy）<span class="fi-arrow-down"></span></a>
								
								<div class="user-control">
									<a href="###">
										<span class="fi-key"></span>
										修改密码
									</a>
									<a href="###">
										<span class="fi-envelop"></span>
										消息
									</a>
									<a href="###">
										<span class="fi-cog"></span>
										设置
									</a>
								</div>
							</li>
							<li>
								<a href="###">
									<span class="fi-exit"></span>退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="sub-nav-outer">
				<div class="scroll">
					<div class="sub-nav-inner">
						<div>
							<h4 class="cur"><a href="qyDataMining.html">企业与其他社会组织</a></h4>
							<h4><a href="../sjwj.zrr/zrrDataMining.html">自然人</a></h4>
						</div>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="main">
				<!-- 面包屑 -->
				<div class="main-bread-crumb">
					<div class="breadcrumb-hidden">
						<span class="fi-breadcrumb left"></span>
						<ol class="left">
							<li>
								<span>您的位置：</span>
								<a href="###">数据挖掘系统</a>
							</li>
							<li>
								<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###" class="normal-weight">企业与其他社会组织</a>
							</li>
							<li>
								<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###">查资质</a>
							</li>
						</ol>
					</div>
				</div>
				<!-- 内容 -->
				<div class="main-form-outer directory-box clearfix">
					<div class="overflow-auto">
						<table class="qualification">
							<colgroup>
								<col style="width: 60%;" />
								<col style="width: 40%;" />
							</colgroup>
							<tr>
								<td>
									<div class="h-per100">
										<div class="scroll">
											<!--1-->
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory1">
													<h1>中介机构</h1>
													<p>3890</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory2">
													<h1>价格评估机构</h1>
													<p>3789</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory3">
													<h1>测绘企业</h1>
													<p>3782</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory4">
													<h1>工程设计施工企业</h1>
													<p>3672</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory5">
													<h1>运输管理机构</h1>
													<p>3654</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<!--2-->
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory6">
													<h1>药品零售企业</h1>
													<p>3762</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory7">
													<h1>药品生产企业</h1>
													<p>3789</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory8">
													<h1>器械生产企业</h1>
													<p>3789</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory9">
													<h1>粮食收购企业</h1>
													<p>3609</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
											<div class="column-w box-shadow">
												<a href="###" class="relative" id="directory10">
													<h1>医疗卫生机构</h1>
													<p>3789</p>
												</a>
												<div class="ie-shadow"></div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<img src="../../images/qy-czz1.png"/>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
		
		<!--dialog-->
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-plus-min.js"></script>
		<!--slimScroll-->
		<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
		
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				/*column color*/
				$(".directory-box .column-w").each(function(i){
				    if(i % 5 == 0){
				    	$(this).find('a.relative').css({'background-color':'#5e666d'});
				        $(this).find('a.relative p').css({'background-color':'#414a52'});
				    }else if(i % 5 == 1){
				        $(this).find('a.relative').css({'background-color':'#62c7b9'});
				        $(this).find('a.relative p').css({'background-color':'#25b8a4'});
				    }else if(i % 5 == 2){
				        $(this).find('a.relative').css({'background-color':'#cbcfd2'});
				        $(this).find('a.relative p').css({'background-color':'#bac2c7'});
				    }else if(i % 5 == 3){
				        $(this).find('a.relative').css({'background-color':'#6ec36e'});
				        $(this).find('a.relative p').css({'background-color':'#5ab25a'});
				    }else if(i % 5 == 4){
				    	$(this).find('a.relative').css({'background-color':'#3a90de'});
				        $(this).find('a.relative p').css({'background-color':'#277dcb'});
				    }
				});
			});
			function heightScroll(){
				var hei = $(".list-box").height();
				return hei + 20;
			};
			var aId;
			$(document).on('click','.directory-box a',function(){
				aId = $(this).attr('id');
//				console.log(aId);
				bubbles(aId);
				
				$('.dialog-scroll').slimscroll({
					height:heightScroll(),
//					alwaysVisible: true,
      				railVisible: true
			    });
			})
			function bubbles(aId){  
				//dialog内容
				//下面注释的内容取消注释后，可显示“查看详情”按钮
				var creditHtml = '<div class="dialog-scroll"><div class="list-box"><ol>'
							+	'<li>'
							+	'<a href="###" title="单位（个人）未履行生效裁判失信信息">单位（个人）未履行生效裁判失信信息</a>'
							+	'<div class="clearfix">'
							+	'<span>100条</span>'
							+	'<span>【最近更新时间：2016-08-31 15:55】</span>'
//							+	'<a href="###" class="color-blue fi-details" title="查看详情"></a>'
							+	'</div>'
							+	'</li>'
							
							+	'<li>'
							+	'<a href="###" title="互联网上网服务营业场所的安全审核信息">互联网上网服务营业场所的安全审核信息</a>'
							+	'<div class="clearfix">'
							+	'<span>1000条</span>'
							+	'<span>【最近更新时间：2016-08-31 15:55】</span>'
//							+	'<a href="###" class="color-blue fi-details" title="查看详情"></a>'
							+	'</div>'
							+	'</li>'
							
							+	'<li>'
							+	'<a href="###" title="劳动保障书面审查基本情况（年检）">劳动保障书面审查基本情况（年检）</a>'
							+	'<div class="clearfix">'
							+	'<span>25698条</span>'
							+	'<span>【最近更新时间：2016-08-31 15:55】</span>'
//							+	'<a href="###" class="color-blue fi-details" title="查看详情"></a>'
							+	'</div>'
							+	'</li>'
							
							+	'<li>'
							+	'<a href="###" title="行政处罚信息（对单位逾期不办理住房公积金缴存登记等行为的行政处罚）">行政处罚信息（对单位逾期不办理住房公积金缴存登记等行为的行政处罚）</a>'
							+	'<div class="clearfix">'
							+	'<span>60条</span>'
							+	'<span>【最近更新时间：2016-08-31 15:55】</span>'
//							+	'<a href="###" class="color-blue fi-details" title="查看详情"></a>'
							+	'</div>'
							+	'</li>'
							
							+	'<li>'
							+	'<a href="###" title="单位（个人）未履行生效裁判失信信息">单位（个人）未履行生效裁判失信信息</a>'
							+	'<div class="clearfix">'
							+	'<span>100条</span>'
							+	'<span>【最近更新时间：2016-08-31 15:55】</span>'
//							+	'<a href="###" class="color-blue fi-details" title="查看详情"></a>'
							+	'</div>'
							+	'</li>'
							
							+	"</ol></div></div>";
				
				$.GD.bubbles({
					id: aId, 
					msg: creditHtml,
//					follow: document.getElementById(aId),
//					 left: '58px',
//				    top: '100%',
//				    fixed: true,
//				    drag: false,
//				    resize: false
				});
			}
		</script>
	</body>
</html>
