<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../../../../thirdparty/jquery-easyui-1.4.5/themes/default/easyui.css"/>
		<link rel="stylesheet" href="../../../../../thirdparty/artDialog/ui-dialog.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	</head>

	<body>

		<div class="main-form-outer dialog-table-outer">
			<div class="form-inner relative overflow-auto">
				<form action="" method="post">
					<div class="form-content absolute">
						<div class="form-table">
							<table>
								<colgroup>
									<col span="1" style="width: 20%;" />
									<col span="1" style="width: 80%;" />
								</colgroup>
								<tr>
									<th><label class="query-label">行政区划编码</label></th>
									<td>330301</td>
								</tr>
								<tr>
									<th><label class="query-label">所属地区名称</label></th>
									<td>温州市</td>
								</tr>
								<tr>
									<th><label class="query-label">执法部门名称</label></th>
									<td>市烟草专卖局</td>
								</tr>
								<tr>
									<th><label class="query-label">执法部门组织编码</label></th>
									<td>001008003015056</td>
								</tr>
								<tr>
									<th><label class="query-label">行政处罚决定书文号</label></th>
									<td>[2016]温烟专罚字第010072号</td>
								</tr>
								<tr>
									<th><label class="query-label">案件名称</label></th>
									<td>叶增锚无烟草专卖品准运证运输卷烟案</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚对象类别</label></th>
									<td>自然人</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚对象名称</label></th>
									<td>叶增锚</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚对象证件类型</label></th>
									<td>身份证</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚对象证件号码</label></th>
									<td>330328197410125019</td>
								</tr>
								<tr>
									<th><label class="query-label">涉案金额</label></th>
									<td>元</td>
								</tr>
								<tr>
								    <th><label class="query-label">实际填报时间：</label></th>
								    <td>2016-03-14 16:49:33</td>
								</tr>
								<tr>
									<th><label class="query-label">公开时间</label></th>
									<td>2016-03-14 16:49:33</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚单位法定代表人姓名</label></th>
									<td>1111</td>
								</tr>
								<tr>
									<th><label class="query-label">被处罚单位法定代表人身份证号码</label></th>
									<td></td>
								</tr>
								<tr>
									<th><label class="query-label">行政处罚权利事项名称</label></th>
									<td></td>
								</tr>
								<tr>
									<th><label class="query-label">权利内部编码</label></th>
									<td></td>
								</tr>
								<tr>
									<th><label class="query-label">对外公开的行政处罚决定书全文或者摘要</label></th>
									<td>
										<div class="pre">
											<p><span>主要违法事实：</span><span>叶增锚，浙江省文成县人，现在温州市信河街3号经营经营一家食品行，持有烟草专卖零售许可证，证号：33030120150514354A，国家局编码：330301143296。前段时间，一自称姓“余”的外地男子来被处罚人叶增锚店里要求高价收购软中华，被处罚人叶增锚觉得有利可图，便和他相互留了联系电话。临近年底，被处罚人从烟草公司购得五十余条软中华，就电话联系了余先生，双方在电话里谈好价格并把卷烟送往余姚交易。被处罚人叶增锚感觉仅凭自己店里的中华烟送过去利润不大，于是又到大南门的“</span><span>某某</span><span>烟酒行”购进一些软中华。被处罚人叶增锚从烟草公司及</span><span>某某</span><span>烟酒行处均以583元/条的价格合计购得中华（软）84条。2016年2月4日上午十点多，被处罚人叶增锚在未办理烟草专卖品准运证的情况下，携带装有该批卷烟的两个旅行袋乘坐公交车前往温州动车南站，在温州动车南站大厅的自动售票机上购买了前往余姚的动车票，在动车南站进站安检口准备进站时被我局执法人员查获。按购买价格计算，叶增锚运输卷烟价值达48972元。</span><span>经浙江省烟草质量监督检测站鉴别检验，上述被先行登记保存的卷烟均为真品卷烟。</span></p>
											<p><span>处罚依据：根据《中华人民共和国烟草专卖法》第二十九条第一款、《中华人民共和国烟草专卖法实施条例》第五十四条第（一）项之规定。</span></p>
											<p><span>处罚结果：</span><span>一、处以违法运输的卷烟价值48972元42%的罚款，计20568.24元上缴国库；</span><span>二、将违法运输的卷烟予以收购；三、</span><span>依据《中华人民共和国烟草专卖法实施条例》第六十八条之规定，卷烟收购款34280.4元予以返还。</span></p>
											<p><span>履行方式与期限：被处罚人应当在收到本处罚决定书之日起十五日内到中国建设银行温州支行（或分理处）缴纳罚款（收款人名称：行政罚没款暂挂户，收款人账号：10133062353524103500907050）。按照《中华人民共和国行政处罚法》第五十一条第（一）项、第（三）项规定：1、到期不缴纳罚款的，每日按罚款数额的百分之三加处罚款；2、逾期不履行本处罚决定的，申请人民法院强制执行。</span><span>如不服本处罚决定，可在收到本处罚决定书之日起60日内向浙江省烟草专卖局申请复议，或在收到本处罚决定书之日起15日内向温州市鹿城区人民法院起诉。</span><span>该行政处罚决定书自送达之日起生效。</span></p>
											<p><span>行政处罚机关名称：浙江省温州市烟草专卖局；行政处罚日期：</span><span>2016-3-14</span></p>
										</div>
									</td>
								</tr>
								<tr>
									<th><label class="query-label">作出行政处罚的日期</label></th>
									<td>2016-03-14 00:00:00</td>
								</tr>
								<tr>
									<th><label class="query-label">是否公开</label></th>
									<td>公开</td>
								</tr>
								<tr>
									<th><label class="query-label">不公开依据</label></th>
									<td></td>
								</tr>
								<tr>
									<th><label class="query-label">状态标记</label></th>
									<td>正常</td>
								</tr>
								<tr>
									<th><label class="query-label">撤销处罚的原因说明</label></th>
									<td></td>
								</tr>
								<tr>
									<th><label class="query-label">信息版本号</label></th>
									<td>1</td>
								</tr>
								<tr>
									<th><label class="query-label">排序时间</label></th>
									<td>2016-03-14 00:00:00</td>
								</tr>
								<tr>
									<th><label class="query-label">处罚立案时间</label></th>
									<td>160204</td>
								</tr>
								<tr>
									<th><label class="query-label">执法部门主体编码</label></th>
									<td>33030161</td>
								</tr>
								<tr>
									<th><label class="query-label">处罚案件流水号</label></th>
									<td>000001</td>
								</tr>
							</table>

						</div>
					</div>
					<div class="btn-row fixed">
						<button type="button" class="theme-btn" id="return" value="确定">返回</button>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
		<!--slimScroll-->
		<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
		<!--My97日期插件-->
		<script type="text/javascript" src="../../../../../thirdparty/My97DatePicker/WdatePicker.js"></script>
		
		<!--dialog-->
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-plus-min.js"></script>
		
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var dialog = top.dialog.get(window);
				$("#return").on("click", function() {
					dialog.close();
				});
			});
		</script>
	</body>

</html>