<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>异议处理详情</title>
		<link rel="stylesheet" type="text/css" href="../../../../../thirdparty/jquery-easyui-1.4.5/themes/default/easyui.css"/>
		<link rel="stylesheet" href="../../../../../thirdparty/artDialog/ui-dialog.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	</head>

	<body>
		<div class="wrapper">
			<!-- 头部 -->
			<div class="nav-outer">
				<div class="nav-inner">
					<h1 class="logo"></h1>
					<span class="fi-menu"></span>
					<ul class="nav" id="nav">
						<li>
							<a href="###">
								系统首页
							</a>
						</li>
						<li class="cur">
							<a href="../../dataDirectory.html">
								数据管理系统
							</a>
						</li>
						<li>
							<a href="../sjwj.qy/qyDataMining.html">
								数据挖掘系统
							</a>
						</li>
						<li>
							<a href="../zrr/zrrCredit.html">
								数据查询系统
							</a>
						</li>
						<li>
							<a href="###">
								报告管理系统
							</a>
						</li>
						<li>
							<a href="###">
								行业应用系统
							</a>
						</li>
						<li>
							<a href="../cfgs/cfgs.html">
								信用双公示
							</a>
						</li>
						<li>
							<a href="../xypj/gCreditRating.html">
								信用评价
							</a>
						</li>
					</ul>
					<div class="overflow-hidden">
						<ul class="top-info right">
							<li class="relative">
								<a href="###">您好，李玉东（cxy）<span class="fi-arrow-down"></span></a>
								
								<div class="user-control">
									<a href="###">
										<span class="fi-key"></span>
										修改密码
									</a>
									<a href="###">
										<span class="fi-envelop"></span>
										消息
									</a>
									<a href="###">
										<span class="fi-cog"></span>
										设置
									</a>
								</div>
							</li>
							<li>
								<a href="###">
									<span class="fi-exit"></span>退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="sub-nav-outer">
				<div class="scroll">
					<div class="sub-nav-inner">
						<div>
							<h4><a href="../../dataDirectory.html">数据归集目录</a></h4>
							<h4><a href="###">数据上传管理</a></h4>
							<h4 class="cur"><a href="yyclList.html">异议处理</a></h4>
						</div>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="main">
				<!-- 面包屑 -->
				<div class="main-bread-crumb">
					<div class="breadcrumb-hidden">
						<span class="fi-breadcrumb left"></span>
						<ol class="left">
							<li>
								<span>您的位置：</span>
								<a href="###">数据管理系统</a>
							</li>
							<li>
								<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###" class="normal-weight">异议处理</a>
							</li><li>
								<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###">异议处理审核详情</a>
							</li>
						</ol>
					</div>
				</div>
				<!-- 表格 -->
				<div class="main-form-outer">
					<div class="form-inner relative overflow-auto">
						<form action="" method="post">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">异议单编号</label>
											</th>
											<td>
												<p>YY20160917201125</p>
											</td>
											<th>
												<label class="query-label">被异议主体标识码</label>
											</th>
											<td>
												<p>6097****88408</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">联系人</label>
											</th>
											<td>
												<p>邓大林</p>
											</td>
											<th>
												<label class="query-label">联系方式</label>
											</th>
											<td>
												<p>130****4752</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">异议类型</label>
											</th>
											<td>
												<p>信息缺失</p>
											</td>
											<th>
												<label class="query-label">提交日期</label>
											</th>
											<td>
												<p>2016-09-17 20:11</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">异议信息描述</label>
											</th>
											<td colspan="3">
												<p>我公司获奖信息缺失，颁发部门为市建设局，麻烦帮忙更正一下。</p>
											</td>
										</tr>
									</table>
									
									<table>
										<caption>审核结果反馈</caption>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">审核通过结果</label>
											</th>
											<td colspan="3">
												<div class="radio-outer">
													<label>
														<input type="radio" name="radioGroup" checked/>通过
													</label>
													<label>
														<input type="radio" name="radioGroup" />不通过
													</label>
												</div>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">备注</label>
											</th>
											<td colspan="3">
												<textarea id="opinions" rows="4"></textarea>
											</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="btn-row fixed">
								<input type="button" class="theme-btn" value="提交" onclick="confirm();"/>
								<a href="yyclList.html" class="theme-btn">取消</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
		
		<!--dialog-->
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-plus-min.js"></script>
		<!--slimScroll-->
		<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function confirm() {
				$.GD.confirm({
					//title: '确认提交？',
					msg: '确认提交？',
					oktext: '提交',
					canceltext: '关闭',
					fixed: true,
					ok: function() {
						window.location.href="yyclList.html";
					}
				});
			}
		</script>
	</body>

</html>