<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>自然人信用查询</title>
	<link rel="stylesheet" type="text/css" href="../../css/base.css">
	<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/layout.css">
</head>
<body>
	<div class="wrapper">
		<!-- 头部 -->
		<div class="nav-outer">
				<div class="nav-inner">
					<h1 class="logo"></h1>
					<span class="fi-menu"></span>
					<ul class="nav" id="nav">
					<li>
						<a href="###">
							系统首页
						</a>
					</li>
					<li>
						<a href="../../dataDirectory.html">
							数据管理系统
						</a>
					</li>
					<li>
						<a href="../sjwj.qy/qyDataMining.html">
							数据挖掘系统
						</a>
					</li>
					<li class="cur">
						<a href="../zrr/zrrCredit.html">
							数据查询系统
						</a>
					</li>
					<li>
						<a href="###">
							报告管理系统
						</a>
					</li>
					<li>
						<a href="###">
							行业应用系统
						</a>
					</li>
					<li>
						<a href="../cfgs/cfgs.html">
							信用双公示
						</a>
					</li>
					<li>
						<a href="../xypj/gCreditRating.html">
							信用评价
						</a>
					</li>
				</ul>
					<div class="overflow-hidden">
						<ul class="top-info right">
							<li class="relative">
								<a href="###">您好，李玉东（cxy）<span class="fi-arrow-down"></span></a>
								
								<div class="user-control">
									<a href="###">
										<span class="fi-key"></span>
										修改密码
									</a>
									<a href="###">
										<span class="fi-envelop"></span>
										消息
									</a>
									<a href="###">
										<span class="fi-cog"></span>
										设置
									</a>
								</div>
							</li>
							<li>
								<a href="###">
									<span class="fi-exit"></span>退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="sub-nav-outer">
				<div class="scroll">
					<div class="sub-nav-inner">
						<div>
							<h4 class="cur"><a href="zrrCredit.html">自然人综合查询</a></h4>
							<h4 ><a href="../fr/frCredit.html">法人综合查询</a></h4>
						
						</div>
					</div>
				</div>
			</div>
		<!-- 主体 -->
		<div class="main">
			<!-- 面包屑 -->
			<div class="main-bread-crumb">
				<div class="breadcrumb-hidden">
					<span class="fi-breadcrumb left"></span>
					<ol class="left">
						<li>
							<span>您的位置：</span>
							<a href="###">数据查询系统</a>
						</li>
						<li>
							<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###">自然人信用详情</a>
						</li>
					</ol>
				</div>
			</div>
			<!-- 内容 -->
	    	<div class="main-table-outer tab-outer" id="tab">
				<div class="tab-title-box">
					<div class="cur" id="info1" onclick="setContentTab('info',1,9)">
						<h3>基本信息</h3>
					</div>
					<div id="info2" onclick="setContentTab('info',2,9)">
						<h3>资产信息</h3>
					</div>
					<div id="info3" onclick="setContentTab('info',3,9)">
						<h3>职业资格</h3>
					</div>
					<div id="info4" onclick="setContentTab('info',4,9)">
						<h3>荣誉信息</h3>
					</div>
					<div id="info5" onclick="setContentTab('info',5,9)">
						<h3>欠费信息</h3>
					</div>
					<div id="info6" onclick="setContentTab('info',6,9)">
						<h3>社保缴存信息</h3>
					</div>
					<div id="info7" onclick="setContentTab('info',7,9)">
						<h3>行政处罚信息</h3>
					</div>
					<div id="info8" onclick="setContentTab('info',8,9)">
						<h3>生效判决信息</h3>
					</div>
					<div id="info9" onclick="setContentTab('info',9,9)">
						<h3>保密信息</h3>
					</div>
				</div>
				<div class="tab-content block" id="con_info_1">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">姓名</label>
											</th>
											<td>
												<p>魏文通</p>
											</td>
											<th>
												<label class="query-label">身份证号码</label>
											</th>
											<td>
												<p>280411********2601</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">性别</label>
											</th>
											<td>
												<p>男</p>
											</td>
											<th>
												<label class="query-label">民族</label>
											</th>
											<td>
												<p>汉</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">籍贯</label>
											</th>
											<td>
												<p>呼和浩特</p>
											</td>
											<th>
												<label class="query-label">政治面貌</label>
											</th>
											<td>
												<p>党员</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">工作单位</label>
											</th>
											<td>
												<p>德亚科有限公司</p>
											</td>
											<th>
												<label class="query-label">手机号码</label>
											</th>
											<td>
												<p>13158694420</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">人员状态</label>
											</th>
											<td>
												<p>——</p>
											</td>
											<th>
												<label class="query-label">邮箱</label>
											</th>
											<td>
												<p>yezengmaol@gmail.com</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">户籍地址</label>
											</th>
											<td colspan="3">
												<p>浙江省温州市建业路3号</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_2">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">公积金缴存</label>
											</th>
											<td>
												<p>有</p>
											</td>
											<th>
												<label class="query-label">是否有车辆</label>
											</th>
											<td>
												<p>有</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">是否有低保</label>
											</th>
											<td>
												<p>无</p>
											</td>
											<th>
												<label class="query-label">是否有救助</label>
											</th>
											<td>
												<p>无</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">是否有贷款</label>
											</th>
											<td>
												<p>无</p>
											</td>
											<th>
												<label class="query-label">是否有住房</label>
											</th>
											<td>
												<p>有</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_3">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">证书名称</label>
											</th>
											<td>
												<p>软件工程师</p>
											</td>
											<th>
												<label class="query-label">证书编号</label>
											</th>
											<td>
												<p>6638****2809</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">有限期</label>
											</th>
											<td>
												<p>2016-08-10 至 2020-08-10</p>
											</td>
											<th>
												<label class="query-label">认定时间</label>
											</th>
											<td>
												<p>2016-08-10</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">核发单位</label>
											</th>
											<td colspan="3">
												<p>温州市劳动局</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_4">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table class="yes-no-box">
										<colgroup>
											<col style="width: 16%;"/>
										</colgroup>
										<tr>
											<th>是否为志愿者</th>
											<td>是</td>
											<th>是否有过捐赠</th>
											<td>否</td>
											<th>是否有献血</th>
											<td>否</td>
										</tr>
									</table>
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">荣誉编号</label>
											</th>
											<td>
												<p>20161123第052号</p>
											</td>
											<th>
												<label class="query-label">认定时间</label>
											</th>
											<td>
												<p>2016-01-10</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">颁发机关</label>
											</th>
											<td>
												<p>温州市信用办</p>
											</td>
											<th>
												<label class="query-label">荣誉名称</label>
											</th>
											<td>
												<p>先进个人</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">荣誉内容</label>
											</th>
											<td colspan="3">
												<p>——</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_5">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 10%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 10%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 10%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 10%;"/>
											<col span="1" style="width: 15%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">欠费号码</label>
											</th>
											<td>
												<p>13158694420</p>
											</td>
											<th>
												<label class="query-label">欠费总金额</label>
											</th>
											<td>
												<p>14元</p>
											</td>
											<th>
												<label class="query-label">欠费时段</label>
											</th>
											<td>
												<p>2016-09-18</p>
											</td>
											<th>
												<label class="query-label">欠费信息来源</label>
											</th>
											<td>
												<p>中国移动温州分公司</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">欠费号码</label>
											</th>
											<td>
												<p>13158694420</p>
											</td>
											<th>
												<label class="query-label">欠费总金额</label>
											</th>
											<td>
												<p>2元</p>
											</td>
											<th>
												<label class="query-label">欠费时段</label>
											</th>
											<td>
												<p>2016-05-27</p>
											</td>
											<th>
												<label class="query-label">欠费信息来源</label>
											</th>
											<td>
												<p>中国移动温州分公司</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_6">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">姓名</label>
											</th>
											<td>
												<p>魏文通</p>
											</td>
											<th>
												<label class="query-label">身份证号</label>
											</th>
											<td>
												<p>280411********2601</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">养老参保状态</label>
											</th>
											<td>
												<p>已参保</p>
											</td>
											<th>
												<label class="query-label">医保参保状态</label>
											</th>
											<td>
												<p>已参保</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">工伤参保状态</label>
											</th>
											<td>
												<p>已参保</p>
											</td>
											<th>
												<label class="query-label">失业保险状态</label>
											</th>
											<td>
												<p>已参保</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">生育保险状态</label>
											</th>
											<td>
												<p>已参保</p>
											</td>
											<th>
												<label class="query-label"></label>
											</th>
											<td>
												<p></p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_7">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">处罚文号</label>
											</th>
											<td>
												<p>2016PC04138</p>
											</td>
											<th>
												<label class="query-label">处罚时间</label>
											</th>
											<td>
												<p>2016-04-13</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">处罚机关</label>
											</th>
											<td>
												<p>温州市信用办</p>
											</td>
											<th>
												<label class="query-label">处罚依据</label>
											</th>
											<td>
												<p>——</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">处罚内容</label>
											</th>
											<td colspan="3">
												<p>责令整改，没收所得</p>
											</td>
										</tr>
									</table>
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">处罚文号</label>
											</th>
											<td>
												<p>2016PC011108</p>
											</td>
											<th>
												<label class="query-label">处罚时间</label>
											</th>
											<td>
												<p>2016-01-11</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">处罚机关</label>
											</th>
											<td>
												<p>温州市信用办</p>
											</td>
											<th>
												<label class="query-label">处罚依据</label>
											</th>
											<td>
												<p>——</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">处罚内容</label>
											</th>
											<td colspan="3">
												<p>责令整改</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_8">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table">
									<table>
										<colgroup>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
											<col span="1" style="width: 15%;"/>
											<col span="1" style="width: 35%;"/>
										</colgroup>
										<tr>
											<th>
												<label class="query-label">案号</label>
											</th>
											<td>
												<p>2016第0086号</p>
											</td>
											<th>
												<label class="query-label">执行法院</label>
											</th>
											<td>
												<p>温州市中级人民法院</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">立案时间</label>
											</th>
											<td>
												<p>2016-06-19</p>
											</td>
											<th>
												<label class="query-label">执行依据</label>
											</th>
											<td>
												<p>——</p>
											</td>
										</tr>
										<tr>
											<th>
												<label class="query-label">判决情况</label>
											</th>
											<td>
												<p>——</p>
											</td>
											<th>
												<label class="query-label">履行情况</label>
											</th>
											<td>
												<p>未履行</p>
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="con_info_9">
					<div class="tab-table-inner have-btn">
						<div class="form-inner relative overflow-auto">
							<div class="form-content absolute">
								<div class="form-table b-bottom">
									<table class="yes-no-box" style="width: 98.2%;">
											<colgroup>
												<col style="width: 12.5%;"/>
											</colgroup>
											<tr>
												<th>是否判刑</th>
												<td>否</td>
												<th>是否吸毒</th>
												<td>否</td>
												<th>是否劳教</th>
												<td>否</td>
												<th>是否有精神病史</th>
												<td>否</td>
											</tr>
										</table>
								</div>
							</div>
						</div>
					</div>
				</div>
	    		
	    		<div class="btn-row fixed">
					<a href="zrrCredit.html" class="theme-btn">返回</a>
				</div>
	    	</div>
		</div>
	</div>

	<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
	<!--slimScroll-->
	<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
	<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		/*tab*/
		function setContentTab(name, curr, n) {
			for (i = 1; i <= n; i++) {
				var menu = document.getElementById(name + i);
				var cont = document.getElementById("con_" + name + "_" + i);
				menu.className = i == curr ? "cur" : "";
				if (i == curr) {
					cont.style.display = "block";
				} else {
					cont.style.display = "none";
				}
			}
		};
	</script>
</body>
</html>