<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业与其他社会组织</title>
		<link rel="stylesheet" type="text/css" href="../../../../../thirdparty/jquery-easyui-1.4.5/themes/default/easyui.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	</head>
	<body>
		<div class="wrapper">
			<!-- 头部 -->
			<div class="nav-outer">
				<div class="nav-inner">
					<h1 class="logo"></h1>
					<span class="fi-menu"></span>
					<ul class="nav" id="nav">
						<li>
							<a href="###">
								系统首页
							</a>
						</li>
						<li>
							<a href="../../dataDirectory.html">
								数据管理系统
							</a>
						</li>
						<li class="cur">
							<a href="qyDataMining.html">
								数据挖掘系统
							</a>
						</li>
						<li>
							<a href="../zrr/zrrCredit.html">
								数据查询系统
							</a>
						</li>
						<li>
							<a href="###">
								报告管理系统
							</a>
						</li>
						<li>
							<a href="###">
								行业应用系统
							</a>
						</li>
						<li>
							<a href="../cfgs/cfgs.html">
								信用双公示
							</a>
						</li>
						<li>
							<a href="../xypj/gCreditRating.html">
								信用评价
							</a>
						</li>
					</ul>
					<div class="overflow-hidden">
						<ul class="top-info right">
							<li class="relative">
								<a href="###">您好，李玉东（cxy）<span class="fi-arrow-down"></span></a>
								
								<div class="user-control">
									<a href="###">
										<span class="fi-key"></span>
										修改密码
									</a>
									<a href="###">
										<span class="fi-envelop"></span>
										消息
									</a>
									<a href="###">
										<span class="fi-cog"></span>
										设置
									</a>
								</div>
							</li>
							<li>
								<a href="###">
									<span class="fi-exit"></span>退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="sub-nav-outer">
				<div class="scroll">
					<div class="sub-nav-inner">
						<div>
							<h4 class="cur"><a href="qyDataMining.html">企业与其他社会组织</a></h4>
							<h4><a href="../sjwj.zrr/zrrDataMining.html">自然人</a></h4>
						</div>
					</div>
				</div>
			</div>
			<!-- 主体 -->
			<div class="main">
				<!-- 面包屑 -->
				<div class="main-bread-crumb">
					<div class="breadcrumb-hidden">
						<span class="fi-breadcrumb left"></span>
						<ol class="left">
							<li>
								<span>您的位置：</span>
								<a href="###">数据挖掘系统</a>
							</li>
							<li>
								<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###">企业与其他社会组织</a>
							</li>
						</ol>
					</div>
				</div>
				<!-- 表格 -->
				<div class="main-form-outer">
					<div class="relation-search enterprise-search">
						<div id="search-bd" class="search-bd">
							<ul class="clearfix">
								<li class="selected">
									<span>全部</span>
									<i class="index-arrow-down"></i>
								</li>
								<li>
									<em></em>
									<span>企业名称</span>
									<i class="index-arrow-down"></i>
								</li>
								<li>
									<em></em>
									<span>法人代表</span>
									<i class="index-arrow-down"></i>
								</li>
								<li>
									<em></em>
									<span>股东高管</span>
									<i class="index-arrow-down"></i>
								</li>
							</ul>
						</div>
						<div id="search-hd" class="search-hd">
							<input type="text" id="s1" class="search-input" style="display: block;">
							<input type="text" id="s2" class="search-input" style="display: none;">
							<input type="text" id="s3" class="search-input" style="display: none;">
							<input type="text" id="s4" class="search-input" style="display: none;">
							<span class="s1 pholder">请输入企业名称、法人代表姓名、股东高管姓名等信息进行查询</span>
							<span class="s2 pholder">请输入企业名称进行查询</span>
							<span class="s3 pholder">请输入法人代表姓名进行查询</span>
							<span class="s4 pholder">请输入股东高管姓名进行查询</span>
							<a href="qyDataMiningAll.html" class="btn-search"></a>
							<!--<a class="btn-search"></span>-->
						</div>
						<div class="searching-most">
							<span>热搜企业：</span>
							<a href="###">浙江华峰</a>
							<a href="###">美斯特邦威</a>
							<a href="###">红蜻蜓</a>
							<a href="###">奥康集团</a>
						</div>
						<div class="search-group">
							<a href="qyFindRelation.html">找关系</a>
							<a href="qyClassification.html">查分类</a>
							<a href="qyDistrictCounty.html">查区县</a>
							<a href="qyTrend.html">看走势</a>
							<a href="qyQualification.html">查资质</a>
							<a href="qyIndustryCredit.html">行业信用</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
		<!--slimScroll-->
		<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
		<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/search.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
