<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>处罚公示</title>
		<link rel="stylesheet" type="text/css" href="../../../../../thirdparty/jquery-easyui-1.4.5/themes/default/easyui.css"/>
		<link rel="stylesheet" href="../../../../../thirdparty/artDialog/ui-dialog.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/icon.font.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/layout.css">
		<link rel="stylesheet" type="text/css" href="../../css/dataGrid.layout.css"/>
	</head>

	<body>
		<div class="wrapper">
			<!-- 头部 -->
			<div class="nav-outer">
				<div class="nav-inner">
					<h1 class="logo"></h1>
					<span class="fi-menu"></span>
					<ul class="nav" id="nav">
						<li>
							<a href="###">
								系统首页
							</a>
						</li>
						<li>
							<a href="../../dataDirectory.html">
								数据管理系统
							</a>
						</li>
						<li>
							<a href="../sjwj.qy/qyDataMining.html">
								数据挖掘系统
							</a>
						</li>
						<li>
							<a href="../zrr/zrrCredit.html">
								数据查询系统
							</a>
						</li>
						<li>
							<a href="###">
								报告管理系统
							</a>
						</li>
						<li>
							<a href="###">
								行业应用系统
							</a>
						</li>
						<li class="cur">
							<a href="cfgs.html">
								信用双公示
							</a>
						</li>
						<li>
							<a href="../xypj/gCreditRating.html">
								信用评价
							</a>
						</li>
					</ul>
					<div class="overflow-hidden">
						<ul class="top-info right">
							<li class="relative">
								<a href="###">您好，李玉东（cxy）<span class="fi-arrow-down"></span></a>
								
								<div class="user-control">
									<a href="###">
										<span class="fi-key"></span>
										修改密码
									</a>
									<a href="###">
										<span class="fi-envelop"></span>
										消息
									</a>
									<a href="###">
										<span class="fi-cog"></span>
										设置
									</a>
								</div>
							</li>
							<li>
								<a href="###">
									<span class="fi-exit"></span>退出
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 侧边栏 -->
			<div class="sub-nav-outer">
				<div class="scroll">
					<div class="sub-nav-inner">
						<div>
							<h4 class="cur"><a href="cfgs.html">处罚公示</a></h4>
							<h4><a href="../xkgs/xkgs.html">许可公示</a></h4>
						</div>
					</div>
				</div>
				
			</div>
			<!-- 主体 -->
			<div class="main">
				<form  method="post" id="searchForm">
					<!-- 面包屑 -->
					<div class="main-bread-crumb">
						<div class="breadcrumb-hidden">
							<span class="fi-breadcrumb left"></span>
							<ol class="left">
								<li>
									<span>您的位置：</span>
									<a href="###">信用双公示</a>
								</li>
								<li>
									<span class="breadcrumb-line breadcrumb-arrow"></span><a href="###">处罚公示</a>
								</li>
							</ol>
							<div class="right relative">
								<p class="fi-search absolute"></p>
								<input type="text" placeholder="输入关键字" class="search-input left" />
							</div>
						</div>
					</div>
					<!-- 搜索栏 -->
					<div class="main-search">
						<div class="overflow-hidden hide-li">
							<ul>
								<li>
									<label class="query-label">案件名称</label>
									<input type="text">
								</li>
								<li>
									<label class="query-label">公示时间</label>
									<input type="text" class="date Wdate" />
								</li>
							</ul>
								
							<div class="search-btn-group left">
								<input type="button" class="theme-btn" value="查询">
							</div>
						</div>
						<div class="more-text clearfix">
							<!--显示更多查询条件-->
							<p><span class="fi-arrow-down"></span>显示更多查询条件</p>
						</div>
					</div>
				</form>
				<!-- 按钮操作栏 -->
				<div class="main-control">
					<div class="btns-outer">
						<a href="cfgsAdd.html" class="theme-btn">新增</a>
					</div>
				</div>				
				<!-- 表格 -->
				<div class="main-table-outer">
					<table id="datagrid" class="user-datagrid easyui-datagrid clearfix" style="height:100%;width:100%;">
						<tr>
							<td></td>
							<td><span class="cause-title">任美英生产、销售不符合保障人体健康和人身、财产安全的国家标准、行业标准的产品案</span></td>
							<td>2016-09-17 20:11</td>
						</tr>
						<tr>
							<td></td>
							<td><span class="cause-title">叶增锚无烟草专卖品准运证运输卷烟案</span></td>
							<td>2016-09-17 15:55</td>
						</tr>
						<tr>
							<td></td>
							<td><span class="cause-title">温州市宏盛建筑基础工程有限公司随意倾倒、抛撒建筑垃圾案</span></td>
							<td>2016-09-17 15:00</td>
						</tr>
						<tr>
							<td></td>
							<td><span class="cause-title">阮冬祥销售非法生产的卷烟案</span></td>
							<td>2016-09-16 19:34</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>

		<script type="text/javascript" src="../../../../../thirdparty/jquery-1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
		<!--slimScroll-->
		<script type="text/javascript" src="../../../../../thirdparty/slimScroll/jquery.slimscroll.min.js"></script>
		<!--My97日期插件-->
		<script type="text/javascript" src="../../../../../thirdparty/My97DatePicker/WdatePicker.js"></script>
		
		<!--dialog-->
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-min.js"></script>
		<script type="text/javascript" src="../../../../../thirdparty/artDialog/dialog-plus-min.js"></script>
		
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/layout.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
			$(function() {
				//my97
				$(".date").click(function() {
					WdatePicker()
				});
				$(".time").click(function() {
					WdatePicker({
						skin: 'whyGreen',
						dateFmt: 'H:mm:ss'
					});
				});
				//禁止输入
				$(".time,.date").keyup(function() {
					var thisVal = $(this).val();
					$(this).val(thisVal.slice(0, thisVal.length - 2))
				});
			});
		</script>
		<script type="text/javascript">
			$(function() {
				$('#datagrid').datagrid({
//					url: "datagrid_data1.json",
					columns: [
						[
							{field: 'titleCause',title: '案件名称',width: 60,sortable:true,halign:"center"},
							{field: 'publicationTime',title: '公示时间',width: 15,align:"center"},
							{field: 'sharedState',title: '共享状态',width: 10,align:"center",
								formatter:function(value, row, index){
									if(index == 0 || index == 2){
										return '<span class="share-state color-gray" id="shareState'+ index +'">未共享</span>'
									}else{
										return '<span class="share-state color-blue" id="shareState'+ index +'">已共享</span>'
									}
								}
							},
							{field: 'verifyState',title: '校验状态',width: 10,align:"center",
								formatter:function(value, row, index){
									if(index == 0){
										return '<span class="color-gray">未校验</span>'
									}else{
										return '<span class="color-blue">已校验</span>'
									}
								}
							},
						]
					],
					frozenColumns: [
						[
							{field: 'opt',title: "操作",width: 50,align:"center",
								formatter: function(value, row, index) {
									if(index == 0){
										return '<a href="javascript:" class="gs-check" id="cfgsCheck'+ index +'">校验</a>'
									}else{
										return '<a href="javascript:" class="report" onclick="report()">上报</a>'
									}
								}
							}
						]
					],
					fitColumns: true,//True 就会自动扩大或缩小列的尺寸以适应表格的宽度并且防止水平滚动。
					striped:true,//斑马线
					pageSize: 10,
					rownumbers: true,
					pagination: true,
					collapsible: true,

					singleSelect: true, // 复选

					sortName: 'titleCause,     publicationTime',
					sortOrder: 'desc   ,asc,asc   ',
					queryParams: {} // 查询条件
				});
				
			});
			
			
			$(document).on('click','.share-state.color-blue',function(){
				var sId = $(this).attr("id");
				$.GD.bubbles({
					id: sId, 
					msg: "已于2016年9月18日09时32分,<br/>发送至省级区县平台"
				});
			});
			
			//查看详情
			$(document).on('click','.cause-title',function(){
				var $title = $(this).text();
				var $index = $(this).parents('tr').index();
				$.GD.dialog({
					id: 'cfgs' + $index,
			        title: $title,
			        url: 'cfgsDetail'+ ($index + 1) +'.html',
			        width: '900px',
			        height: '600px',
		    	});
				
			});
			
			//校验
			$(document).on('click','.gs-check',function(){
				$.GD.dialog({
					id: 'checkCfgss',
			        title: '校验',
			        url: 'cfgsVerify1.html',
			        width: '900px',
			        height: '600px',
		    	});
			});
			
			//新增
			function addCfgs(){
				$.GD.dialog({
					id: 'addCfgss',
			        title: '新增处罚公示',
			        url: 'cfgsadd.html',
			        width: '900px',
			        height: '600px',
		    	});
			};
			
			//上报
			function report(){
				$.GD.confirm({
					msg: '确认上报？',
					oktext: '确定',
					canceltext: '关闭',
					fixed: true,
					ok: function() {
						window.location.href="cfgs.html";
					}
				});
			}
		</script>
	</body>

</html>