<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">
	<!-- MYBATIS MAPPER -->

	<!-- 支付宝支付退款流水 start -->
	<bean id="alipayPayTradeNoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.commons.mapper.alipay.AlipayPayTradeNoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory2" />
	</bean>
	<bean id="alipayRefundNoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.commons.mapper.alipay.AlipayRefundNoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory2" />
	</bean>
	<!-- 支付宝支付退款流水 end -->
	
</beans>